<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <script type="text/javascript">#}
{#        function chkNumber(eleText) {#}
{#            var value = eleText.value;#}
{#            var len = value.length;#}
{#            for(var i = 0;i < len;i++) {#}
{#                if(value.charAt(i) > "9" || value.charAt(i) < "0") {#}
{#                    alert("含有非数字字符");#}
{#                    eleText.focus();#}
{#                    break;#}
{#                }#}
{#            }#}
{#        }#}
{#    </script>#}
</head>
<body>

<form action="http://127.0.0.1:8000/login/" method="post">
    First_vlan <input type="text" name="first">
    Final_vlan <input type="text" name="final">
    Ip_addr <input type="text" name="Ip_addr">
    File <input type="file" name="file">
    <input type="submit">
</form>




</body>
</html>